@(content: Html)

<!doctype html>

<html lang="en">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/pomodoro.css")">

    <meta charset="utf-8">
    <title>Todoist pomodoro</title>
    <style>
        body {
          padding-top: 2rem;
          padding-bottom: 2rem;
        }

        .list-group {
          max-height: 800px;
          overflow-y: scroll;
        }

        a.select-task {
          color: inherit;
          text-decoration: none;
        }
    </style>
  </head>

  <body>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <div class="container">
      @content
    </div>
  </body>
</html>
